/deadbeef-mpris2-plugin-1.10.tar.xz
/deadbeef-mpris2-plugin-1.11.tar.xz
/deadbeef-mpris2-plugin-1.12.tar.xz
/deadbeef-mpris2-plugin-1.13.tar.xz
/deadbeef-mpris2-plugin-1.14.tar.xz
/deadbeef-mpris2-plugin-1.16.tar.gz
